* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 4rem;
}

h4,
h5 {
    margin-top: .5rem;
}

p {
    margin-top: .7rem;
}

.rating {
    padding: .2rem .5rem;
    border-radius: 50px;
}